@import "./colors";

.add-workout-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: 1fr 1fr;
    place-items: center;


    .left-center {
        width: 100%;
        grid-column: 2 / 3; /* Spans from the second to the third column */
    }
    .right-center {
        grid-column: 3 / 4;
    }


    h1 {
        margin-bottom: 1.5rem;
    }

    .add-workout-container__select-container {
        // display: flex;

        .add-workout-container__select-container__user {
            margin-bottom: 1rem;
        }
        .add-workout-container__select-container__user,
        .add-workout-container__select-container__program {
            display: flex;
            flex-direction: column;
            flex: 1;
            // max-width: 400px;
        }

        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: $secondary-bg;
            flex: 1;
        }
    }

    .workouts-list {
        margin-top: 2rem;
    }
}

.add-workout-container__input-container {
    display: flex;
    width: 100%;
}

.add-workout-container__input-container__add-workout {

    flex: 1;
    max-width: 400px;

    form {
        display: grid;
        grid-template-rows: auto;
        position: relative;
        min-height: 100%; /* Ensure the container takes full height */
    }
    .form-content {
        grid-row: 1 / 2;
        /* Add any additional styling for your form content */
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: $secondary-bg;
        flex: 1;
    }

    button {
        grid-row: 3 / 4;
        // margin-top: 3.1rem;
        background-color: #007bff;
        border-radius: 4px;
        padding: 8px;
        color: white;
        font-size: 16px;
        text-align: center;
        border: none;
        cursor: pointer;
        width: 100%;
    }

}

