@import "./colors";

#root {

}

.app-container {
    display: flex;
    min-height: 100vh;
  }

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    // max-width: 1100px;
    // margin-left: 2rem;
}

.App {
    flex: 1;
    padding: 20px;
    // max-width: 1000px;
    // display: flex;
    // flex-direction: column;
}

* {
    margin: 0;
    box-sizing: border-box;
    background-color: $primary-bg;
    color: $primary-text;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
}

.input-primary {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: $secondary-bg;
}

.cta-1 {
    background-color: #007bff;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.cta-1:hover {
    background-color: lighten($color: #007bff, $amount: 10);
}

.cta-1:active {
    transform: scale(0.98);
    background-color: darken(#007bff, 10%);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: $secondary-bg;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

    h3 {
        background-color: inherit;
        margin-bottom: 1rem;
    }
  }