.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    width: 100%;
    background-color: black;
    color: white;
    height: 250px;
    font-family: "Audiowide", sans-serif !important;
    #logoName {
      font-size: 60px;
      background-color: black;
    }
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }

  .header-top {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    .logout-button {
      width: 80px;
      margin: 10px 10px 0px 0px;
    }
  }