#root {
  max-width: 1000px;
  margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
  background-color: #171717;
  color: #FFFFFF;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}

.input-primary {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #2E2E2E;
}

.cta-1 {
  background-color: #007bff;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.cta-1:hover {
  background-color: #3395ff;
}

.cta-1:active {
  transform: scale(0.98);
  background-color: #0062cc;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #2E2E2E;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.modal h3 {
  background-color: inherit;
  margin-bottom: 1rem;
}

.loginForm {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #171717;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.loginForm form {
  display: flex;
  flex-direction: column;
}

.loginForm label {
  margin-bottom: 8px;
  font-weight: bold;
}

.loginForm input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #2E2E2E;
}

.loginForm button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.loginForm button:hover {
  background-color: #0056b3;
}

.loginForm .loginForm__usernameContainer {
  display: flex;
  flex-direction: column;
}
.loginForm .loginForm__passwordContainer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  width: 100%;
  background-color: black;
  color: white;
  height: 250px;
  font-family: "Audiowide", sans-serif !important;
}
.header #logoName {
  font-size: 60px;
  background-color: black;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #ff1a1a;
}

.header-top {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
.header-top .logout-button {
  width: 80px;
  margin: 10px 10px 0px 0px;
}

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.nav a {
  text-decoration: none;
  flex: 1;
  background-color: #2E2E2E;
}
.nav ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.nav ul .dropdown {
  flex: 1;
  text-align: center;
  height: 100%;
  display: inline-block;
}
.nav ul .dropdown a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav li {
  position: relative;
  display: inline-block;
}
.nav li .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav li .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav li .dropdown-content a:hover {
  background-color: #373737;
}
.nav li:hover .dropdown-content {
  display: block;
}
.nav li a:hover {
  background-color: #373737;
}

.programs-container h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.programs-container a {
  text-decoration: none;
  color: black;
}

.workouts-container h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.workouts-container a {
  text-decoration: none;
  color: black;
}
.workouts-container .workouts-container__workout {
  border: 1px solid black;
  background-color: aliceblue;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: large;
  padding: 0.5rem;
}
.workouts-container .workouts-container__workout:hover {
  background-color: rgb(221, 229, 240);
}

.create-program-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
}
.create-program-container h2 {
  margin-bottom: 20px;
}
.create-program-container .create-program-container__name {
  margin-bottom: 15px;
}
.create-program-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.create-program-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
}
.create-program-container button {
  background-color: rgb(0, 123, 255);
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}
.create-program-container button:hover {
  background-color: rgb(43, 145, 255);
}

.create-program-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
}

.programs-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #171717;
  max-width: 500px;
  margin: 20px auto;
}

.error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.programs-container h2 {
  margin-bottom: 20px;
}

.programs-container__program {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: #2E2E2E;
}

.programs-container__program:hover {
  background-color: #373737;
}

.programs-container__program a {
  text-decoration: none;
  color: #333;
}

.programs-container__program a:hover {
  text-decoration: underline;
}

.add-exercises-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #171717;
}
.add-exercises-form input, .add-exercises-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
}
.add-exercises-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.add-exercises-form .add-exercises-form__input-container,
.add-exercises-form .add-exercises-form__select-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.add-exercises-form button {
  background-color: rgb(0, 123, 255);
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.exercise-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #171717;
}
.exercise-container h3 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.add-workout-container {
  display: flex;
  flex-direction: column;
}
.add-workout-container h1 {
  margin-bottom: 1.5rem;
}
.add-workout-container .add-workout-container__select-container {
  display: flex;
  justify-content: space-evenly;
}
.add-workout-container .add-workout-container__select-container .add-workout-container__select-container__user,
.add-workout-container .add-workout-container__select-container .add-workout-container__select-container__program {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
}
.add-workout-container .add-workout-container__select-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
  flex: 1;
}
.add-workout-container .workouts-list {
  margin-top: 2rem;
}

.add-workout-container__input-container {
  max-width: 400px;
}
.add-workout-container__input-container form {
  display: flex;
  flex-direction: column;
}
.add-workout-container__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
  flex: 1;
}
.add-workout-container__input-container button {
  margin-top: 1rem;
  background-color: #007bff;
  border-radius: 4px;
  padding: 8px;
  margin-left: 2px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.training-container .container {
  background-color: #171717;
  display: flex;
  flex-direction: column;
}
.training-container .exerciseHeading {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 0;
}
.training-container .itemContainer {
  border: 1px solid white;
  margin-bottom: 20px;
  padding: 16px;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 8px;
  background-color: #171717;
}
.training-container .itemText {
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  margin-left: 10px;
  background-color: #2E2E2E;
}
.training-container .inputContainer {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  background-color: #2E2E2E;
  margin-bottom: 5px;
}
.training-container .input {
  width: 40px;
  height: 40px;
  border-color: #FFFFFF;
  border-width: 1px;
  margin-right: 8px;
  text-align: center;
  background-color: #373737;
  color: #FFFFFF;
}
.training-container .buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.training-container .button {
  background-color: #007bff;
  border-radius: 4px;
  padding: 8px;
  width: 35px;
  margin-left: 2px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.training-container .finishButton {
  background-color: #007bff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.signup form {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.signup form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.signup .recaptcha {
  margin: 0 auto;
}

.clients-container .user {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  max-width: 350px;
  padding: 0.5rem;
}
.clients-container .clients-container__button-container {
  margin: 0.25rem;
}

.addExercisesToWorkout-container {
  display: flex;
  flex-direction: column;
}
.addExercisesToWorkout-container h1 {
  margin-bottom: 1.5rem;
}
.addExercisesToWorkout-container .add-workout-container__select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-end;
  width: 400px;
}
.addExercisesToWorkout-container .add-workout-container__select-container .add-workout-container__select-container__user,
.addExercisesToWorkout-container .add-workout-container__select-container .add-workout-container__select-container__program {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  margin-bottom: 2rem;
}
.addExercisesToWorkout-container .add-workout-container__select-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
  flex: 1;
}

.add-workout-container__input-container {
  max-width: 400px;
}
.add-workout-container__input-container form {
  display: flex;
  flex-direction: column;
}
.add-workout-container__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2E2E2E;
  flex: 1;
}
.add-workout-container__input-container button {
  margin-top: 1rem;
  background-color: #007bff;
  border-radius: 4px;
  padding: 8px;
  margin-left: 2px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=App.css.map */
