#root {
  max-width: 1000px;
  margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.loginForm {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.loginForm form {
  display: flex;
  flex-direction: column;
}

.loginForm label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.loginForm input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.loginForm button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.loginForm button:hover {
  background-color: #0056b3;
}

.loginForm .loginForm__usernameContainer {
  display: flex;
  flex-direction: column;
}
.loginForm .loginForm__passwordContainer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  width: 100%;
  background-color: black;
  color: white;
  height: 250px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #ff1a1a;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  display: flex;
}
.nav ul {
  display: flex;
  padding: 0;
  width: 100%;
}
.nav li {
  list-style: none;
  flex: 1;
  text-align: center;
  align-content: center;
  border: 1px solid black;
  cursor: pointer;
}
.nav li a {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}

.programs-container h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.programs-container a {
  text-decoration: none;
  color: black;
}
.programs-container .programs-container__program {
  border: 1px solid black;
  background-color: aliceblue;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: large;
  padding: 0.5rem;
}
.programs-container .programs-container__program:hover {
  background-color: rgb(221, 229, 240);
}

.workouts-container h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.workouts-container a {
  text-decoration: none;
  color: black;
}
.workouts-container .workouts-container__workout {
  border: 1px solid black;
  background-color: aliceblue;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: large;
  padding: 0.5rem;
}
.workouts-container .workouts-container__workout:hover {
  background-color: rgb(221, 229, 240);
}

.create-program-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px;
  margin: 20px auto;
}
.create-program-container h2 {
  margin-bottom: 20px;
}
.create-program-container .create-program-container__name {
  margin-bottom: 15px;
}
.create-program-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.create-program-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-program-container button {
  background-color: rgb(0, 123, 255);
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.create-program-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.programs-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px;
  margin: 20px auto;
}

.error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.programs-container h2 {
  margin-bottom: 20px;
}

.programs-container__program {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.programs-container__program:hover {
  background-color: #f0f0f0;
}

.programs-container__program a {
  text-decoration: none;
  color: #333;
}

.programs-container__program a:hover {
  text-decoration: underline;
}

.add-exercises-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.add-exercises-form input, .add-exercises-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.add-exercises-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.add-exercises-form .add-exercises-form__input-container,
.add-exercises-form .add-exercises-form__select-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.add-exercises-form button {
  background-color: rgb(0, 123, 255);
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.exercise-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.exercise-container h3 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

/*# sourceMappingURL=App.css.map */
